* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: yekan;
    font-weight: 500;
    src: url(./assests/fonts/YekanBakhFaNum-SemiBold.woff);
}

@font-face {
    font-family: yekan;
    font-weight: 700;
    src: url(./assests/fonts/YekanBakhFaNum-Bold.woff);
}

@font-face {
    font-family: yekan;
    font-weight: 600;
    src: url(./assests/fonts/YekanBakhFaNum-Regular.woff);
}

body {
    width: 1450px;
    margin: auto;

}

.top-bar {
    background-color: #FF510C;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    width: 1800;
    height: 70px;
}

.header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E6E6E6;
    padding: 15px 10%;
}

.right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    color: #FF510B;
    font-weight: 700;
}

.center {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box input {
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #FBFBFB;
    border: #FBFBFB;
    color: #303030;
    width: 360px;
    height: 46px;
}

.products-btn {
    background-color: #FF510B;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

.left .icon {
    width: 46px;
    height: 46px;
}

.libraries {
    margin: 4rem auto;
    width: 1237px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px 0;
    border-radius: 17px;
}

.library {
    text-align: center;
    color: #666;
    cursor: pointer;
    transition: 0.3s;
}

.library img {
    width: 35px;
    margin-bottom: 8px;
}

.library.point {
    color: #ff4d00;
}

.library:hover {
    transform: translateY(-5px);
}


/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.hero-content {
    text-align: center;
    align-items: center;
}

.hero-content .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 617px;
}

.logo h1 {
    color: black;
    font-size: 42px;
    margin-bottom: 15px;
}

.vision-txt {
    text-align: center;
    margin-bottom: 20px;
}

.buy-btn {
    background-color: #ff4d00;
    box-shadow: 0px 2px 15px #ff4d00;
    color: #fff;
    border: none;
    padding: 7px 35px;
    border-radius: 9px;
    transition: 0.3s;
    margin-bottom: 1rem;
}

.buy-btn:hover {
    cursor: pointer;
    background: #e64500;
}

.hero-image {
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    margin: auto;
}

.circles {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 100%;
    background-color: #A6A6A6;
    width: 15px;
    height: 15px;
}

.Orange-circle {
    background-color: #FF8B14;
}

/* Offer */
.offer {
    margin-top: 3rem;
    width: 90%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer {
    display: flex;
    gap: 15px;
}

.time-box {
    display: flex;
    flex-direction: row;
    background: #ffe5df;
    color: #FF510C;
    padding: 12px 18px;
    border-radius: 8px;
    text-align: center;
}

.time-box span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.time-box small {
    font-size: 12px;
    color: #555;
}

/* Section */
.offer {
    padding: 80px 0;
}

.offer-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    border-radius: 24px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left */
.offer-info {
    width: 1000px;
}

.products {
    background-color: #FAFAFA;
    border-radius: 8px;
    width: 995px;
    height: 340px;
    text-align: center;
}

/* Header */
.offer-header {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.offer-header h3 {
    padding-right: 460px;
    text-align: center;
    font-family: yekan;
    font-weight: 500;
    color: #FF510C;
    text-decoration: line-through;
}

/* Timer */
.timer {
    display: flex;
    gap: 8px;
}

.time-box {
    width: 55px;
    height: 55px;
    background: #FFF1EB;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.time-box span {
    font-size: 11px;
    color: black;
    margin-top: 60px;
}

.time-box.red {
    background: #FF510C;
    color: #fff;
}

.time-box.red span {
    color: #FF510C;
}

/* Title */
.product-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    padding-top: 3rem;
}

/* .product-title h2 {
    top: 5px
} */

/* Price */
.bold {
    margin: 0 4rem 0 -8rem;
    font-family: yekan;
    font-weight: 700;
    font-size: 25px;
    color: #ff4d2d;
    margin-bottom: 20px;
}

.regular {
    font-size: 20px;
    font-family: yekan;
    font-weight: 600;
    color: #B6B6B6;
    text-decoration: line-through;
}

/* Colors */
.colors {
    padding: 26px 319px;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.color.black {
    background: #828282;
}

.color.gray {
    background: #ECECEC;
}

.color.purple {
    background: #A848DE;
}

/* Buttons */
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.buy {
    width: 115px;
    font-family: yekan;
    font-weight: 700;
    background: #ff4d2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.left-arrow {
    display: flex;
    justify-content: space-between;
}

/* Warranty */
.warranty {
    font-family: yekan;
    font-weight: 600;
    padding: 0 220px;
    font-size: 20px;
    color: #ff4d2d;
}

/* Image */
.offer-image {
    position: absolute;
    right: -87px;
    top: 85px;
    width: 40%;
}

.offer-image img {
    height: 480px;
    width: 100%;
    border-radius: 20px;
}

/*cards*/
.section-title {
    font-family: yekan;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4rem 34rem;
}

.section-title .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #F6F6F6;
    width: 323px;
    height: 541px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.bg-card {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    background-color: white;
}

.bg-car img {
    width: 297px;

}

.card-body h3 {
    text-align: center;
    margin-bottom: 100px;
    line-height: 38px;
    font-family: yekan;
    font-weight: 500;
    font-size: 18px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    width: 48px;
    height: 48px;
    background-color: #FF510C;
    border: none;
    color: white;
    cursor: pointer;
}

.price {
    font-family: yekan;
    font-weight: 600;
}

/* Color Dots */
.colorss {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 2rem;
}

.c {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.red {
    background: #E24C21;
}

.gray {
    background: #828282;
}

.light {
    background: #ECECEC;
}

.silver {
    background: #ECECEC;
}

.gold {
    background: #FFDA79;
}